@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
    --primary-color: #22254b;
    --secundary-color: #373b69;
}

#navId{
    background-color: #22a58f;
}

#id{
    background-color: red;
}



*{
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


.img-logo{
    min-width: 5em;
}
header h2{
    color: #fff;
}

.title-logo{
    font-size: 25px;
}

.subtitle-logo{
    font-size: 13px;
    margin-left: 20px;
}

.btn-registro{
    margin-right: 10px;
}

.logo-carrito{
    max-width: 5em;
}

#ribbon{
    background-color: #22a58f;
}
#ribbon::after{
    content: '';
    background-color: 22a58f;
    display: block;
    height: 20px;
    width: 20%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}
#birthday{
    background-color: #8c8d8a;
    border-radius: 5px;
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#birthday img{
    position: relative;
    margin-top: -30px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#text-separator{
    color: white;
    text-align: center;
}

.movie{
    width: 300px;
    height: 300px;
    margin: 1rem;
    background-color: var(--secundary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position:relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
margin-top: 0;
}

.movie img{
    width: 100%;
}




.overview{
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left:0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
    transform: translateY(0);
}
#separator{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#Us{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(34,165,143,1) 0%, rgba(251,251,251,1) 15%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#tarjetas{
    width: auto;
    border-radius:3px;
    color: white;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

#tarjetas:hover{
    transform: scale(1.13);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
} 
#footer{
    background-color:#22a58f;
    color: white;
}
#copyright{
    background-color:white;
    color:black;
}


@media print {
    .modal-body .card .card-body .table {
        display: none;
    }
}






