@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
    --primary-color: #22254b;
    --secundary-color: #373b69;
}

#navId{
    background-color: black;
}

#id{
    background-color: red;
}



*{
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--secundary-color);

}*/
#main-tittle{
    font-family: 'Patua One', cursive;
}
header h2{
    color: #fff;
}

.search{
    background-color: transparent;
    border: 2px solid  var(--primary-color);
    border-radius:50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
}
#ribbon{
    background-color: rgba(0, 0, 0, 0.986);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(2, 2, 2, 0.13) 25px, rgba(0, 0, 0, 0.342) 40px);
}
#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}
#birthday{
    background-color: rgb(12, 11, 11);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#birthday img{
    position: relative;
    margin-top: -30px;
}
.search::placeholder{
    color:#7378c5;
}

.search:focus{
    outline: none;
    background-color: var(--primary-color);
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.movie{
    width: 300px;
    margin: 1rem;
    background-color: var(--secundary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position:relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
margin-top: 0;
}

.movie img{
    width: 100%;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}

.movie-info span.orange{
    color: orange;
}

.movie-info span.red{
    color: red;
}

.overview{
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left:0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
    transform: translateY(0);
}
#separator{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#Us{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(0,21,42,1) 0%, rgb(27, 127, 194) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
    padding-top: 40px;
}
.card-border{
    border-radius: 10px;
    color: white;
    background-color: #01244a;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.card-border:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
} 









